<article class="grid grid--1x2 feature">
  <div class="feature__content">
    <span class="icon-container">
      <img src="./images/develop.svg" alt="" />
    </span>
    <h3 class="feature__heading">Design & Development</h3>
    <p>
      I started coding on the 1/12/22 I have learnt HTML5 and CSS3, and
      currently studing Javascript
    </p>
  </div>
  <img class="feature__image" src="./css/images/easy.jpg" alt="" />
</article>
<article class="grid grid--1x2 feature">
  <div class="feature__content">
    <span class="icon-container">
      <img src="./images/develop.svg" alt="" />
    </span>
    <h3 class="feature__heading">Design & Development</h3>
    <p>
      I started coding on the 1/12/22 I have learnt HTML% and CSS3, and
      currently studing Javascript
    </p>
  </div>
  <img class="feature__image" src="./css/images/easy.jpg" alt="" />
</article>
<article class="grid grid--1x2 feature">
  <div class="feature__content">
    <span class="icon-container">
      <img src="./images/future.svg" alt="" />
    </span>
    <h3 class="feature__heading">Future aspirations</h3>
    <p>
      I want have a career in front end website development and hope to achieve
      that goal within a year.
    </p>
  </div>
  <img class="feature__image" src="./css/images/easy.jpg" alt="" />
</article>
